## Block 'au-tld-check-*.php' Worldwide access so that the files are only available for the server to use.
## Make sure to edit the server /etc/hosts file: 127.0.0.1 mydomain.com or allow the server public IP address.

# Apache HTTP Server
Order Deny,Allow
Deny from all
Allow from 127.0.0.1
## Also allow public IP:
# Allow from x.x.x.x

# LiteSpeed Server (make sure to restart the server)
RewriteEngine On
RewriteCond %{REMOTE_HOST} !^127\.0\.0\.1
RewriteRule .* - [F]
